body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

.btn-red {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #EA5B13;
    border-radius: 16px;
    text-decoration: none;
    color: #FFFFFF;
    transition: .3s all;
}

.btn-red:hover {
    background: #DA4A01;
}

.btn-white {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #FFFFFF;
    border-radius: 16px;
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.btn-white:hover {
    background: #F7E6DF;
}

.btn-pink {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #FAEDE6;
    border-radius: 16px;
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
    text-align: center;
}

.btn-pink:hover {
    background: #F7E6DF;
}



/* Header styles start */

.header {
    padding: 12px 0 13px;
    margin-bottom: 40px;
}

.header__wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    max-width: 247px;
    text-decoration: none;
    margin-right: 72px;
    width: 100%;
}

.header__logo-hidden {
    position: absolute;
    top: 44px;
    left: 20px;
    display: none;
    align-items: center;
    text-decoration: none;
    z-index: 3;
    transition: .3s all;
}

.header__logo-hidden img {
    margin-right: 8px;
}

.header__logo-hidden-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #000C2B;
    max-width: 190px;
}

.header__logo-pic {
    margin-right: 12px;
}

.header__logo-text {
    color: #000C2B;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.header__nav {
    width: 100%;
}

.header__nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E0E4E7;
    width: 100%;
}

.header__nav-top-entry {}

.header__nav-top-entry-hidden {
    display: none;
}


.header__nav-top-entry-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #00588D;
    text-decoration: none;
    transition: .3s all;
    padding: 4px 12px;
}

.header__nav-top-entry-text:hover {
    background: #F7FBFF;
    border-radius: 16px;
}

.header__nav-top-entry-text:first-child {
    margin-right: 8px;
}

.header__nav-top-call {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    text-decoration: none;
    transition: .3s all;
}

.header__nav-top-call:hover {
    opacity: .7;
}

.header__nav-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: .3s all;
}

.header__nav-list {
    display: flex;
    align-items: center;
    transition: all .3s;
}

.header__nav-item {
    display: flex;
    align-items: center;
    margin-right: 32px;
    border-radius: 16px;
    transition: .3s all;
}



.header__nav-item:first-child {
    margin-right: 4px;
}

.header__nav-item:nth-child(2) {
    margin-right: 3px;
}


.header__nav-item-text-more {
    padding: 4px 34px 4px 16px !important;
    position: relative;
    display: inline-flex;
}

.header__nav-item-text-more::before {
    content: '';
    width: 16px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 12px;
    background: url(../svg/select-button.svg) no-repeat center;
    background-size: contain;
    transition: .3s all;
}


.header__nav-item:nth-child(3) {
    margin-right: 8px;
}



.header__nav-item-more {
    transition: .3s all;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #000C2B;
    text-decoration: none;
    border-radius: 16px;
    padding: 4px 12px;
    transition: .3s all;
}

.header__nav-item-text:hover {
    background: #FFFFFF;
}

.header__nav-more-list-w {
    padding-top: 6px;
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    transition: all .3s;
    z-index: 2;
}

.header__nav-more-list-w-hover {
    display: none;
}



.header__nav-more-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding: 16px 24px;
    background: #FFFFFF;
    border: 1px solid #F6F0ED;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    border-radius: 16px;
    transition: max-height .3s;
}

.header__nav-more-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding: 16px 24px;
    background: #FFFFFF;
    border: 1px solid #F6F0ED;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    border-radius: 16px;
    transition: max-height .3s;
}

.header__nav-more-item {
    display: flex;
    flex-direction: column;
    transition: .3s all;
}

.header__nav-more-item a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    transition: .3s all;
}

.header__nav-more-item li {
    margin-bottom: 10px;
}

.header__nav-more-item a:hover {
    color: #00588D;
}

.header__nav-item-more:hover .header__nav-more-list-w-hover {
    display: block;
}

.header__nav-item-more:hover .header__nav-item-text-more {
    background: #ffffff;
}


.header__nav-more-item li:last-child {
    margin-bottom: 0;
}

.header__searchform {
    position: relative;
}

.header__searchform-form {
    max-width: 0;
    overflow: hidden;
    color: #000C2B;
    padding: 0;
    border: none;
    border-radius: 8px;
    transition: .3s all;
}

.header__searchform-form::placeholder {
    color: #607988;
}

.header__searchform-form,
.header__searchform-form::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}

.header__searchform-form-burger--active .header__searchform-form {
    width: 100%;
    max-width: none;
    border: 1px solid #E0E4E7;
    padding: 8px 16px 9px 36px;
}

.header__searchform-form-burger--active .header__searchform {
    width: 100%;
}


.header__searchform-form-burger--active .searchform-button-view {
    display: none;
}

.header__searchform-form-burger--active .header__searchform-button {
    position: absolute;
    top: 8px;
    left: 6px;
}


.header__searchform-form--active .header__searchform-form {
    max-width: 705px;
    width: 100%;
    padding: 8px 16px 9px 46px;
}

.header__searchform-form--active .header__searchform {
    width: 100%;
}

.header__searchform-form--active .header__nav-list {
    max-width: 0;
    overflow: hidden;
    max-height: 0;
}

.header__searchform-form--active .searchform-button-view {
    display: none;
}

.header__searchform-form--active .header__searchform-button {
    position: absolute;
    top: 8px;
    left: 12px;
}

.header__searchform-button {
    text-decoration: none;
    margin-right: 32px;
    transition: .3s all;
}

.searchform-button-view {
    text-decoration: none;
    transition: .3s all;
}

.searchform-button-view:hover,
.header__searchform-button:hover {
    opacity: .7;
}

/* Header styles end */

/* Access styles start */



.access {
    margin-bottom: 120px;
}

.access__title {
    margin-bottom: 32px;
}

.access__card {
    padding: 24px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.access__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.access__block-title {
    font-size: 30px;
}

.access__block-text {}

.access__list-wrapper ul{
    list-style: decimal;
    padding-left: 20px;
}


.access__link {
    padding-left: 30px;
    text-decoration: none;
    color: #00588D;
    transition: .3s all;
    background: url(../svg/file.svg) no-repeat left top;
}

.access__link:hover{
    opacity: .7;
}

/* Access styles end */


/* Footer styles start */

.footer {
    border-radius: 24px 24px 0 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    width: calc(100% -48px);
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 24px 24px 0 0;
}

.footer__info {
    max-width: 261px;
}

.footer__title {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 12px;
    color: #000C2B;
}

.footer__info-about {}

.footer__info-about-grey {
    margin-bottom: 12px;
}

.footer__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 4px;
    color: #3C5C70;
}

.footer__phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    text-decoration: none;
    transition: .3s all;
}

.footer__info-about-links {
    margin-bottom: 20px;
}

.footer__info-link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #00588D;
    text-decoration: none;
    padding-right: 38px;
    background: url(../svg/arrow-right.svg) no-repeat 95% center;
    transition: .3s all;
}

.footer__info-link:first-child {
    margin-bottom: 12px;
}

.footer__link-vk {
    text-decoration: none;
}

.footer__links-wrapper {}

.footer__links-cards {}

.footer__links-card {
    display: flex;
}

.footer__links-card:first-child {
    margin-bottom: 40px;
}

.footer__links-card-title {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    margin-right: 32px;
    width: 140px;
    max-height: 25px;
    transition: .3s all;
}

.footer__links-card-title:hover {
    opacity: .7;
}

.footer__links-block {
    display: flex;
}

.footer__links-list {}

.footer__links-list:first-child {
    margin-right: 64px;
}



.footer__links-item {}

.footer__links-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .3s all;
}

.footer__links-link:hover,
.footer__phone:hover {
    color: #00588D;
}

.footer__info-link:hover {
    background-position-x: 99%;
}

.footer__links-link:last-child {
    margin-bottom: 0;
}

.footer__copy {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3C5C70;
}


/* Footer styles end */

/* Media styles */

@media screen and (min-width: 1024px) {

    .header__nav-item-more:hover .header__nav-item-text-more::before {
        transform: rotate(180deg);
    }

}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }

    .header__logo {
        margin-right: 40px;
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__links-card:last-child {
        margin-bottom: 48px;
    }


    .footer__info {
        max-width: none;
        margin-bottom: 20px;
    }

    .footer__title {
        margin-bottom: 16px;
    }

    .footer__info-about {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }

    .footer__info-about-grey {
        margin-right: 120px;
    }

    .footer__info-about-links {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__copy {
        position: static;
    }

}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }


    .header__wrapper {
        justify-content: space-between;
    }

    .header__nav-top {
        margin: 0;
        padding: 0;
        border: none;
    }

    .header__nav-top-call {
        display: none;
    }

    .header__nav-bot {
        display: none;
        position: relative;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background: #FFFFFF;
        border: 1px solid #F6F0ED;
        border-radius: 16px 0px 0px 0px;
        transform: translateX(200%);
        transition: 0.3s all;
        padding: 102px 12px 16px 20px;
        max-width: 97%;
        height: 100%;
    }

    .header__nav-top-entry-hidden {
        display: block;
    }


    /* Burger */

    .header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 22px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        position: absolute;
        content: '';
        background-color: #607988;
        width: 24px;
        height: 2px;
        transition: .3s all;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .burger__line {
        position: absolute;
        background: #607988;
        width: 24px;
        height: 3px;
        left: 0;
        top: 10px;
        transition: .3s all;
    }

    .body-noscroll {
        overflow: hidden;
    }

    .header__nav--active .header__nav {
        transform: translateX(0);
        height: 100%;
        overflow: auto;
    }

    .header__nav--active .header__logo {}

    .header__nav--active .header__logo-hidden {
        display: flex;
    }

    .header__nav--active .header__nav-top-call {
        display: block;
        margin-bottom: 32px;
        margin-top: 16px;
    }

    .header__nav--active .header__nav-bot {
        display: block;
    }

    .header__nav--active .header__nav-item-w {
        padding: 0;
    }

    .header__nav--active .header__nav-item {
        margin: 0 0 24px 0;
    }

    .header__nav--active .header__nav-item-text {
        font-weight: 500;
    }

    .header__nav--active .header__nav-list {
        flex-direction: column;
        align-items: start;
    }

    .header__nav--active .header__nav-item-more {
        flex-direction: column;
        align-items: start;
    }

    .header__nav-item-text-more::before {
        display: none;
    }

    .header__nav--active .header__nav-more-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 64px;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(1) {
        order: 1;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(2) {
        order: 4;
        margin-top: -139px;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(3) {
        order: 2;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(4) {
        order: 3;
    }

    .header__nav--active .header__nav-more-2 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 64px;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(1) {
        order: 1;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(2) {
        order: 3;
        margin-top: -60px;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(3) {
        order: 2;
    }

    .header__nav--active .header__nav-more-list-w {
        display: block;
        position: static;
        padding: 0;
    }

    .header__nav--active .header__nav-more-1,
    .header__nav-more-2 {
        padding: 12px 0 0 0;
        border: 0;
        box-shadow: none;
    }

    .header__nav--active .header__searchform {
        position: absolute;
        top: -60px;
        right: 0;
    }



    .header__nav--active .header__burger {}

    .header__nav--active .header__burger::before {
        transform: rotate(45deg);
        top: 50%;
    }

    .header__nav--active .header__burger::after {
        transform: rotate(-45deg);
        top: 50%;
    }

    .header__nav--active .burger__line {
        transform: scale(0);
    }

    .header__nav--active .header__nav-top-entry {
        display: none;
    }
    /* Burger end*/

    .access__title {
        margin-bottom: 24px;    
    }

    .access__card{
        padding: 16px;
        gap: 40px;
    }

    .access__block-title{
        font-size: 28px;
    }


    .footer {
        padding: 0;
        background: none;
        width: 100%;
    }

    .footer__wrapper {
        padding: 24px 24px 16px 24px;
        background: #FFFFFF;
    }

}

@media screen and (max-width:700px) {}



@media screen and (max-width:660px) {

    .header__wrapper {
        align-items: center;
    }

    .header__nav-item {
        border-radius: 0;
        margin-bottom: 12px;
        padding-bottom: 21px;
        border-bottom: 1px solid #E0E4E7;
        width: 100%;
    }

    .header__nav-top-entry-hidden {
        display: none;
    }

    .header__nav-more-1,
    .header__nav-more-2 {
        display: block;
    }

    .header__nav-more-item {
        margin: 0 0 10px 0 !important;
    }


    .burger__accordeon-item--active .header__nav-item-text-more::before {
        transform: rotate(180deg);
    }

    .header__nav-item-text-more {
        padding: 0 !important;
    }

    .header__nav-item-text {
        padding: 0;
    }

    .header__nav-item-more {
        position: relative;
    }

    .header__nav-item-more::before {
        content: '';
        width: 16px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 12px;
        background: url(../svg/select-button.svg) no-repeat center;
        background-size: contain;
        transition: .3s all;
    }

    .header__nav-more-list-w {
        max-height: 0;
        overflow: hidden;
    }

    .burger__accordeon-item--active .header__nav-more-list-w {
        max-height: none;
    }

    .burger__accordeon-item--active.header__nav-item-more::before {
        transform: rotate(180deg);
    }

    .footer__wrapper {
        padding: 16px;
    }

    .footer__title {
        margin-bottom: 12px;
    }

    .footer__info-about {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__info-about-grey {
        margin-right: 0;
    }

    .footer__info {
        max-width: 296px;
        margin-bottom: 32px;
    }

    .footer__links-card {
        flex-direction: column;
        margin-bottom: 32px !important;
    }

    .footer__links-card-title {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .footer__links-block {
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {}

@media screen and (max-width:360px) {}

@media screen and (max-width:320px) {}