body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
}

/* About styles start */
.about__link-back {
    display: inline-block;
    font-size: 16px;
    line-height: 145%;
    text-decoration: none;
    color: #3C5C70;
    padding-left: 30px;
    background: url(../svg/arrow-left-gray.svg) no-repeat left center;
    margin-bottom: 24px;
    transition: .3s all;
}

.about {
    margin-bottom: 120px;
}

.about__card {
    padding: 24px 16px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
}

.card__title {
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 12px;
}

.cab {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 4px;
}

.desc {
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
}

.about__card-top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.about__card-phone {
    text-decoration: none;
    transition: .3s all;
    display: inline-block;
}

.about__card-phone:hover {
    color: #00588D;
}

.about__card-image {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

.about__card-pic {
    object-fit: cover;
    width: 100%;
}

.about__card-name-block {
    width: calc(100% - 100px);
}

.about__card-name {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 4px;
}

.about__card-spec {}

.about__card-enroll {
    margin-bottom: 32px;
}

.about__card-block {
    margin-bottom: 40px;
}

.about__card-block:last-child {
    margin-bottom: 0;
}

.about__card-block-title {}

.about__card-block-cab {}

.about__card-block-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.xray__title {
    margin-bottom: 4px;
}

.about__card-block-desc {
    margin-bottom: 12px;
}

.about__card-block-place {}

/* About styles end */


/* Media styles */



@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }

}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }


    .about__card {
        padding: 16px;
    }

    .about__sector-block {
        flex-direction: column;
        align-items: flex-start;
    }


    .about__time-list {
        flex-direction: column;
        gap: 4px;
        align-items: start;
    }

    .about__card-name {
        font-size: 28px;
    }

    .about__card-enroll {
        max-width: 550px;
    }

    .card__title {
        font-size: 20px;
    }
}

@media screen and (max-width:760px) {
    .about__card-block-list {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
}



@media screen and (max-width:660px) {

    .about {
        margin-bottom: 80px;
    }

    .about__card-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .about__card-name-block {
        width: 100%;
    }

    .about__card-image {
        margin: 0 0 8px 0;
    }
}