body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}


/* documents styles start */

.documents {
    margin-bottom: 120px;
}

.documents__title {
    margin-bottom: 24px;
}

.documents__searchform {
    margin-bottom: 32px;
    position: relative;
    width: 100%;
}

.documents__searchform-form {
    width: 100%;
    border: none;
    padding: 8px 16px 8px 46px;
    border-radius: 8px;
    height: 40px;
    color: #000C2B;
}

.documents__searchform-form::placeholder {
    color: #607988;
}

.documents__searchform span {
    position: absolute;
    top: 8px;
    left: 12px;
    cursor: pointer;
}


.documentss__card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px 32px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
}

.documents__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.documents__block h2 {
    font-size: 30px;
    line-height: 120%;
}

.documents__block a {
    text-decoration: none;
    padding-left: 30px;
    background: url(../svg/file.svg) no-repeat left top;
    transition: .3s all;
    color: #00588D;
}

.documents__block a:hover {
    opacity: .7;
}

/* Documents styles end */

/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }


    .documents {
        margin-bottom: 80px;
    }

    .documents__title {
        margin-bottom: 20px;
    }

    .documents__searchform {
        margin-bottom: 24px;
    }

    .documents__card {
        gap: 40px;
        padding: 16px;
    }

    .documents__block h2 {
        font-size: 28px;
    }



}