body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}


/* Entry styles start */

.entry {
    margin-bottom: 120px;
}

.entry__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 32px;
}

.entry__cards {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.entry__card {
    max-width: calc(100% - 316px);
    display: flex;
    flex-direction: column;
    padding: 24px 32px 32px;
    gap: 32px;
    border-radius: 24px;
    background: #FFFFFF;
}

.entry__card-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.entry__block-title {
    font-size: 22px;
    line-height: 135%;
}

.entry__card-block-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.entry__block-desc {}

.entry__block-desc_1 {
    display: flex;
    align-items: center;
}

.entry__block-desc_1-links {
    display: flex;
    align-items: center;
}

.entry__block-text-link {
    margin: 0 6px 0 6px;
    text-decoration: none;
    color: #005081;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: .3s all;
}

.entry__block-text-link:hover {
    opacity: .7;
}

.entry__block-link {
    color: #005081;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: .3s all;
}

.entry__block-link:hover {
    opacity: .7;
}

.entry__card-block-phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    text-decoration: none;
    transition: .3s all;
}

.entry__card-block-phone:hover {
    opacity: .7;
}

.entry__side {
    position: sticky;
    top: 15px;
    width: 100%;
    max-width: 300px;
    padding: 20px 24px;
    background: #FFFFFF;
    border-radius: 24px;
}

.entry__side-desc {
    color: #3C5C70;
}

.entry__side-desc p {
    margin-bottom: 16px;
}

.entry__side-button {
    text-align: center;
    width: 100%;
    display: block;
}


/* Entry styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .entry {
        margin-bottom: 80px;
    }

    .entry__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .entry__cards {
        flex-direction: column-reverse;
        gap: 12px;
    }

    .entry__card {
        max-width: none;
        padding: 16px;
    }

    .entry__side {
        max-width: none;
        padding: 16px;
        position: static;
    }

    .entry__side-button {
        max-width: 248px;
    }
}




@media screen and (max-width:660px) {
    .entry__side-button {
        max-width: none;
    }
}

@media screen and (max-width:530px) {
    .entry__block-desc_1 {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:360px) {
    .entry__block-text-link {
        margin-right: 0;
    }
}