.btn-red {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #EA5B13;
    border-radius: 16px;
    text-decoration: none;
    color: #FFFFFF;
    transition: .3s all;
}

.btn-red:hover {
    background: #DA4A01;
}

.btn-white {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #FFFFFF;
    border-radius: 16px;
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.btn-white:hover {
    background: #F7E6DF;
}

.btn-pink {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 40px;
    background: #FAEDE6;
    border-radius: 16px;
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
    text-align: center;
}

.btn-pink:hover {
    background: #F7E6DF;
}



/* Header styles start */

.header {
    padding: 12px 0 13px;
    margin-bottom: 40px;
}

.header__wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    max-width: 247px;
    text-decoration: none;
    margin-right: 72px;
    width: 100%;
}

.header__logo-hidden {
    position: absolute;
    top: 44px;
    left: 20px;
    display: none;
    align-items: center;
    text-decoration: none;
    z-index: 3;
    transition: .3s all;
}

.header__logo-hidden img {
    margin-right: 8px;
}

.header__logo-hidden-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #000C2B;
    max-width: 190px;
}

.header__logo-pic {
    margin-right: 12px;
}

.header__logo-text {
    color: #000C2B;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.header__nav {
    width: 100%;
}

.header__nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E0E4E7;
    width: 100%;
}

.header__nav-top-entry {}

.header__nav-top-entry-hidden {
    display: none;
}


.header__nav-top-entry-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #00588D;
    text-decoration: none;
    transition: .3s all;
    padding: 4px 12px;
}

.header__nav-top-entry-text:hover {
    background: #F7FBFF;
    border-radius: 16px;
}

.header__nav-top-entry-text:first-child {
    margin-right: 8px;
}

.header__nav-top-call {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    text-decoration: none;
    transition: .3s all;
}

.header__nav-top-call:hover {
    opacity: .7;
}

.header__nav-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: .3s all;
    position: relative;
}

.header__nav-list {
    display: flex;
    align-items: center;
    transition: .3s all;
}

.header__nav-item {
    display: flex;
    align-items: center;
    margin-right: 32px;
    border-radius: 16px;
    transition: .3s all;
}



.header__nav-item:first-child {
    margin-right: 4px;
}

.header__nav-item:nth-child(2) {
    margin-right: 3px;
}


.header__nav-item-text-more {
    padding: 4px 34px 4px 16px !important;
    position: relative;
    display: inline-flex;
}

.header__nav-item-text-more::before {
    content: '';
    width: 16px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 12px;
    background: url(../svg/select-button.svg) no-repeat center;
    background-size: contain;
    transition: .3s all;
}


.header__nav-item:nth-child(3) {
    margin-right: 8px;
}



.header__nav-item-more {
    transition: .3s all;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #000C2B;
    text-decoration: none;
    border-radius: 16px;
    padding: 4px 12px;
    transition: .3s all;
}

.header__nav-item-text:hover {
    background: #FFFFFF;
}

.header__nav-more-list-w {
    padding-top: 6px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    transition: all .3s;
    z-index: 2;
}

.header__nav-more-list-w-hover {
    display: none;
}



.header__nav-more-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding: 16px 24px;
    background: #FFFFFF;
    border: 1px solid #F6F0ED;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    border-radius: 16px;
    transition: max-height .3s;
}

.header__nav-more-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding: 16px 24px;
    background: #FFFFFF;
    border: 1px solid #F6F0ED;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    border-radius: 16px;
    transition: max-height .3s;
}

.header__nav-more-item {
    display: flex;
    flex-direction: column;
    transition: .3s all;
}

.header__nav-more-item a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    transition: .3s all;
}

.header__nav-more-item li {
    margin-bottom: 10px;
}

.header__nav-more-item a:hover {
    color: #00588D;
}

.header__nav-item-more:hover .header__nav-more-list-w-hover {
    display: block;
}

.header__nav-item-more:hover .header__nav-item-text-more {
    background: #ffffff;
}


.header__nav-more-item li:last-child {
    margin-bottom: 0;
}

.header__searchform {}

.searchform-button-clear {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 5;
    cursor: pointer;
    transform: scale(0);
    transition: .3s all;
}

.show.searchform-button-clear {
    transform: scale(1);
}

.header__searchform-form::placeholder {
    color: #607988;
}

.searchform__hidden_results {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    transition: .3s all;
    background: #FFFFFF;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 5;

}

.searchform__hidden--active .searchform__hidden_results {
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

.search-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 4;
    transition: .3s all;
}

.header__searchform-form {
    width: 100%;
    overflow: hidden;
    color: #000C2B;
    padding: 8px 46px;
    border: none;
    border-radius: 8px;
    transition: .3s all;
}

.search-form__btn {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 7px;
    left: 12px;
    transition: .3s all;
}

.search-form__btn:hover {
    opacity: .7;
}

.hidden-schedule {}

.hidden-block {}

.hidden-block-title {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 10px;
}

.hidden-block-title h3 {
    font-size: 22px;
    line-height: 135%;
}

.hidden-block-title p {
    font-size: 14px;
    line-height: 150%;
    color: #3C5C70;
}

.hidden-schedule-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hidden-schedule-card {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    padding: 6px;
    margin-left: -6px;
    border-radius: 16px;
    transition: .3s all;
}

.hidden-schedule-card:hover {
    background: #F7FBFF;
}


.hidden-schedule-card-pic {}

.hidden-schedule-card-text h4 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 4px;
}

.hidden-schedule-card-text p {
    color: #000C2B;
}


.hidden-paid {}

.hidden-paid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.hidden-paid-card {
    padding: 6px 8px;
    margin-left: -8px;
    transition: .3s all;
    border-radius: 16px;
    text-decoration: none;
}

.hidden-paid-card:hover {
    background: #F7FBFF;
}

.hidden-paid-card-top {
    margin-bottom: 4px;
}

.hidden-paid-card-top h4 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
}

.hidden-paid-card-top p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3C5C70;
}

.hidden-paid-card div+p {
    color: #000C2B;
}

.hidden-vac {}

.hidden-vac a {
    text-decoration: none;
    color: #000C2B;
    padding: 6px 12px;
    margin-left: -12px;
    display: block;
    transition: .3s all;
}

.hidden-vac a:hover {
    background: #F7FBFF;
    color: #00588D;
}

.hidden-faq {}

.hidden-faq-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hidden-faq-card {
    text-decoration: none;
    color: #000C2B;
    padding: 6px 12px;
    margin-left: -12px;
    transition: .3s all;
    border-radius: 16px;
}

.hidden-faq-card:hover {
    background: #F7FBFF;
}

.hidden-faq-card p {
    color: #3C5C70;
    transition: .3s all;
}

.hidden-faq-card h4 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    transition: .3s all;
}

.hidden-faq-card:hover h4 {
    color: #00588D;
}

.hidden-faq-card:hover p {
    color: #000C2B;
}

.hidden-news {}

.hidden-news-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hidden-news-card {
    text-decoration: none;
    color: #000C2B;
    padding: 6px 12px;
    margin-left: -12px;
    transition: .3s all;
    border-radius: 16px;
}

.hidden-news-card:hover {
    background: #F7FBFF;
}

.hidden-news-card h4 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 2px;
    transition: .3s all;
}

.hidden-news-card p {
    color: #3C5C70;
    transition: .3s all;
}

.hidden-news-card:hover h4 {
    color: #00588D;
}

.hidden-news-card:hover p {
    color: #000C2B;
}

.hidden-more {
    display: inline-block;
    padding-right: 30px;
    align-self: flex-end;
    background: url(../svg/arrow-right-blue.svg) no-repeat right center;
    color: #00588D;
    text-decoration: none;
    transition: .3s all;
}

.hidden-more:hover {
    opacity: .7;
}

.searchform__hidden_error {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 46px;
    width: 100%;
    height: 400px;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.3);
    transition: .3s all;
    background: #FFFFFF;
    height: 400px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 5;
}

.searchform__hidden--error .searchform__hidden_error {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.searchform__hidden_error img {
    margin-bottom: 12px;
}

.searchform__hidden_error p {
    color: #3C5C70;
}


.header__searchform-form,
.header__searchform-form::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}




.header__searchform-form--active .search-form {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}




.header__searchform-button {
    cursor: pointer;
    margin-right: 32px;
    transition: .3s all;
    display: inline-flex;
    width: 24px;
    height: 24px;
}


.searchform-button-view {
    cursor: pointer;
    transition: .3s all;
}

.searchform-button-view:hover,
.header__searchform-button:hover {
    opacity: .7;
}

.header__nav-noscroll{
    overflow: hidden !important;
}

/* Burger searhform start */

.header__searchform-form-burger--active {}


.header__searchform-form-burger--active .search-form {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    width: calc(100% - 32px);
    height: 100%;
    background: #FFFFFF;
    z-index: 5;
    position: fixed;
    top: 12px;
    left: 20px;
}

.header__searchform-form-burger--active .header__searchform {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: #FFFFFF;
}

.header__searchform-form-burger--active.header__nav{
    padding-top: 52px;
}



.header__nav--active .header__searchform {
    position: absolute;
    top: -60px;
    right: 0;
}

.header__searchform-form-burger--active .header__searchform {
    top: 0;
}

.header__searchform-form-burger--active .header__nav-bot {
    position: absolute;
    top: 12px;
    left: 20px;
    width: calc(100% - 32px);
}

.header__searchform-form-burger--active .header__logo-hidden{
    top: 52px;
}


.header__searchform-form-burger--active ~ .header__burger{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.header__searchform-form-burger--active .searchform-button-clear{
    transform: scale(1);
}

.header__searchform-form-burger--active .hidden-more{
    margin-bottom: 52px;
}


/* Burger searchform end */

/* Header styles end */

/* Media styles */

@media screen and (min-width: 1024px) {

    .header__nav-item-more:hover .header__nav-item-text-more::before {
        transform: rotate(180deg);
    }

}

@media screen and (max-width: 1024px) {
    .header__logo {
        margin-right: 40px;
    }
}

@media screen and (max-width: 978px) {
    .header__wrapper {
        justify-content: space-between;
    }

    .header__nav-top {
        margin: 0;
        padding: 0;
        border: none;
    }

    .header__nav-top-call {
        display: none;
    }

    .header__nav-bot {
        display: none;
        position: relative;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background: #FFFFFF;
        border: 1px solid #F6F0ED;
        border-radius: 16px 0px 0px 0px;
        transform: translateX(200%);
        transition: 0.3s all;
        padding: 102px 12px 16px 20px;
        height: 100%;
        width: calc(100% - 16px);
    }

    .header__nav-top-entry-hidden {
        display: block;
    }


    /* Burger */

    .header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 22px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        position: absolute;
        content: '';
        background-color: #607988;
        width: 24px;
        height: 2px;
        transition: .3s all;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .burger__line {
        position: absolute;
        background: #607988;
        width: 24px;
        height: 3px;
        left: 0;
        top: 10px;
        transition: .3s all;
    }

    .body-noscroll {
        overflow: hidden;
    }

    .header__nav--active .header__nav {
        transform: translateX(0);
        height: 100%;
        overflow: auto;
    }

    .header__nav--active .header__logo {}

    .header__nav--active .header__logo-hidden {
        display: flex;
    }

    .header__nav--active .header__nav-top-call {
        display: block;
        margin-bottom: 32px;
        margin-top: 16px;
    }

    .header__nav--active .header__nav-bot {
        display: block;
    }

    .header__nav--active .header__nav-item-w {
        padding: 0;
    }

    .header__nav--active .header__nav-item {
        margin: 0 0 24px 0;
    }

    .header__nav--active .header__nav-item-text {
        font-weight: 500;
    }

    .header__nav--active .header__nav-list {
        flex-direction: column;
        align-items: start;
    }

    .header__nav--active .header__nav-item-more {
        flex-direction: column;
        align-items: start;
    }

    .header__nav-item-text-more::before {
        display: none;
    }

    .header__nav--active .header__nav-more-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 64px;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(1) {
        order: 1;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(2) {
        order: 4;
        margin-top: -139px;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(3) {
        order: 2;
    }

    .header__nav--active .header__nav-more-1 .header__nav-more-item:nth-child(4) {
        order: 3;
    }

    .header__nav--active .header__nav-more-2 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 64px;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(1) {
        order: 1;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(2) {
        order: 3;
        margin-top: -60px;
    }

    .header__nav--active .header__nav-more-2 .header__nav-more-item:nth-child(3) {
        order: 2;
    }

    .header__nav--active .header__nav-more-list-w {
        display: block;
        position: static;
        padding: 0;
    }

    .header__nav--active .header__nav-more-1,
    .header__nav-more-2 {
        padding: 12px 0 0 0;
        border: 0;
        box-shadow: none;
    }


    .header__nav--active .header__burger {}

    .header__nav--active .header__burger::before {
        transform: rotate(45deg);
        top: 50%;
    }

    .header__nav--active .header__burger::after {
        transform: rotate(-45deg);
        top: 50%;
    }

    .header__nav--active .burger__line {
        transform: scale(0);
    }

    .header__nav--active .header__nav-top-entry {
        display: none;
    }

    .header__nav-bot{
        height: 100%;
    }

    .searchform__hidden_results {
        padding: 0;
        top: 36px;
        height: 100%;
    }

    .header__searchform-form-burger--active .searchform__hidden_results{
        overflow: auto;
    }
    
    .searchform__hidden_error {
        padding: 0;
        top: 36px;
    }

    .searchform-button-clear {
        right: 0;
    }

    .search-form__btn{
        left: 0;
    }

    .header__searchform-form {
        padding: 8px 34px;
    }
    /* Burger end*/

}

@media screen and (max-width:660px) {

    .header__wrapper {
        align-items: flex-start;
    }

    .header__nav-item {
        border-radius: 0;
        margin-bottom: 12px;
        padding-bottom: 21px;
        border-bottom: 1px solid #E0E4E7;
        width: 100%;
    }

    .header__nav-top-entry-hidden {
        display: none;
    }

    .header__nav-more-1,
    .header__nav-more-2 {
        display: block;
    }

    .header__nav-more-item {
        margin: 0 0 10px 0 !important;
    }


    .burger__accordeon-item--active .header__nav-item-text-more::before {
        transform: rotate(180deg);
    }

    .header__nav-item-text-more {
        padding: 0 !important;
    }

    .header__nav-item-text {
        padding: 0;
    }

    .header__nav-item-more {
        position: relative;
    }

    .header__nav-item-more::before {
        content: '';
        width: 16px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 12px;
        background: url(../svg/select-button.svg) no-repeat center;
        background-size: contain;
        transition: .3s all;
    }

    .header__nav-more-list-w {
        max-height: 0;
        overflow: hidden;
    }

    .burger__accordeon-item--active .header__nav-more-list-w {
        max-height: none;
    }

    .burger__accordeon-item--active.header__nav-item-more::before {
        transform: rotate(180deg);
    }
}

@media screen and (max-width:550px) {
    .hidden-paid-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 10px 16px;
    }
}