body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* News styles start */

.news {
    margin-bottom: 120px;
}

.news__title {
    margin-bottom: 32px;
}

.news__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.news__card {
    transition: .3s all;
    text-decoration: none;
}

.news__card:hover{
    background: #F7FBFF;
}

.news__card_large {
    display: flex;
    align-items: center;
    grid-column: span 2;
    border-radius: 24px;
    background: #FFFFFF;
    overflow: hidden;

}

.news__card_large h2{
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 12px;
}

.news__card_large p{
    color: #3C5C70;
}

.news__card_large p:last-child{
    margin-top: 16px;
    font-size: 14px;
    line-height: 150%;
}

.news__card-pics {
    width: 50%;
}

.news__card-pic_desctop {
    width: 100%;
}

.news__card-pic_tablet {
    display: none;
}

.news__card-pic_mobile {
    display: none;
    width: 100%;
}

.news__card-text_large {
    width: 50%;
    padding: 24px;
}

.news__card_small {
    border-radius: 24px;
    background: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.news__card-pic {

}

.news__card-text_small {
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news__card-text_small h2{
    font-size: 22px;
    line-height: 135%;
}

.news__card-text_small p{
    color: #3C5C70;
}

.news__card-text_small p:last-child{
    margin-top: 16px;
    font-size: 14px;
    line-height: 150%;
}

.news__card_text {
    padding: 24px;
    border-radius: 24px;
    background: #FFFFFF;
}

.news__card_text h2{
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 12px;
}

.news__card_text p{
    color: #3C5C70;
}

.news__card_text p:last-child{
    margin-top: 16px;
    font-size: 14px;
    line-height: 150%;
}

/* News styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }

}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .news{
        margin-bottom: 80px;
    }

    .news__title{
        margin-bottom: 24px;
    }

    .news__card-pic_desctop{
        display: none;
    }

    .news__card-pic_tablet{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width:660px) {


    .news__cards{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .news__card_large{
        flex-direction: column;
    }

    .news__card-pics{
        width: 100%;
    }

    .news__card-text_large{
        width: 100%;
    }

    .news__card-pic_tablet{
        display: none;
    }

    .news__card-pic_mobile{
        display: block;
    }

}
