body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title{
    font-size: 30px;
    line-height: 120%;
}

.desc{
    font-size: 16px;
    line-height: 145%;
}

/* Paid styles start */


.paid{
    margin-bottom: 120px;
}

.paid__title {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 120%;
}

.paid__cards {
    display: flex;
    gap: 16px;
}

.paid__card {
    width: calc(100% - 316px);
    padding: 24px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: #FFFFFF;
    border-radius: 24px;
}

.paid__block {
}

.paid__block-title {
    margin-bottom: 12px;
}

.paid__block-entry-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.paid__block-entry-card {
}

.paid__block-entry-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 8px;
}

.paid__block-entry-phone {
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #000C2B;
    transition: .3s all;
}

.paid__block-entry-phone:hover{
    opacity: .7;
}

.paid__block-entry-dates {
    color: #3C5C70;
}

.paid__block-prices {
}

.paid__block-search {
    position: relative;
    width: 100%;
}

.paid__block-search span{
    position: absolute;
    left: 12px;
    top: 6px;
}

.paid__block-searchform {
    width: 100%;
    border: 1px solid #E0E4E7;
    border-radius: 8px;
    padding: 8px 16px 8px 46px;
    margin-bottom: 32px;
}

.paid__block-prices-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paid__block-prices-card {
}
.paid__prices-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.paid__prices-card-title-block {
    display: flex;
    align-items: center;
}

.paid__prices-card-pic {
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.paid__prices-card-title {
    font-size: 22px;
    line-height: 135%;
}

.paid__prices-card-schedule {
    text-decoration: none;
    color: #005081;
    padding-right: 30px;
    background: url(../svg/arrow-right-blue.svg) no-repeat right center;
    transition: .3s all;
}

.paid__prices-card-schedule:hover{
    opacity: .7;
}

.prices__card-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px 16px;
}

.prices__card-card {
}

.prices__card-card-title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
}

.prices__card-card-desc {
    color: #3C5C70;
}

.prices__card-card-cost {
    margin-top: 4px;
}

.paid__block-docs{
}

.paid__block-docs-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.paid__block-docs-link{
    text-decoration: none;
    color: #005081;
    padding-left: 30px;
    background: url(../svg/file.svg) no-repeat left center;
    transition: .3s all;
}

.paid__block-docs-link:hover{
    opacity: .7;
}


.paid__block-credits {
}


.paid__block-credits-descs {
    margin-bottom: 4px;
}

.paid__block-credits-link-block p {
    display: inline-block;
    margin-right: 6px;
}

.paid__block-credits-link{
    color: #005081;
    text-decoration: none;
    padding-right: 30px;
    background: url(../svg/link.svg) no-repeat right center;
    transition: .3s all;
}

.paid__block-credits-link:hover{
    opacity: .7;
}

.paid__side {
    padding: 20px 24px;
    border-radius: 24px;
    background: #FFFFFF;
    width: 300px;
    position: sticky;
    top: 15px;
    height: fit-content;
}
.paid__side-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.paid__side-link {
    font-weight: 500;
    text-decoration: none;
    color: #3C5C70;
    transition: .3s all;
}

.paid__side-link:hover, .paid__side-link:focus, .paid__side-link:active{
    color: #000C2B;
}

.show__more-btn{
    display: none;
}

.hide__more-btn{
    display: none;
}


/* Paid styles end */

/* Media styles */ 


@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 0 16px;
    }
    
    .paid__cards{
        gap: 12px;
    }

    .paid__card{
        width: calc(1005 - 312px);
    }

    .prices__card-cards{
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (max-width: 978px) {

    .title{
        font-size: 28px;
    }


    /* Burger */

    .paid{
        margin-bottom: 80px;
    }

    .paid__title {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .paid__side{
        display: none;
    }

    .paid__card{
        width: 100%;
        padding: 16px 16px 24px;
        gap: 24px;
    }

    .paid__block{
        padding-bottom: 24px;
        border-bottom: 1px solid #E0E4E7
    }

    .paid__card:last-of-type{
        padding-bottom: 0;
        border-bottom: 0;
    }

    .paid__block-title{
        position: relative;
    }

    .paid__block-title:after{
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        width: 24px;
        height: 24px;
        background: url(../svg/select-button.svg) no-repeat center center;
        transition: .3s all;
    }

    .paid__block-title{
        margin-bottom: 0;
    }

    .accordeon-item--active.paid__block-title{
        margin-bottom: 12px;
    }

    .accordeon__item {
        max-height: 0;
        overflow: hidden;
        transition: .3s all;
    }

    .paid__block-search{
        max-height: 0;
        overflow: hidden;
        transition: .3s all;
    }

    .accordeon-item--active.paid__block-title:after{
        transform: rotate(180deg);
    }

    .accordeon-item--active ~ .paid__block-search{
        max-height: none;
    }

    .accordeon-item--active ~ .accordeon__item {
        max-height: none;
    }

    .footer{
        padding: 0;
        background: none;
        width: 100%;
    }

    .footer__wrapper{
        padding: 24px 24px 16px 24px;
        background: #FFFFFF;
    }

}

@media screen and (max-width:700px) {
}



@media screen and (max-width:660px){

    .header__wrapper{
        align-items: center;
    }

    .header__nav-item{
        border-radius: 0;
        margin-bottom: 12px;
        padding-bottom: 21px;
        border-bottom: 1px solid #E0E4E7;
        width: 100%;
    }

    .header__nav-top-entry-hidden{
        display: none;
    }

    .header__nav-more-1, .header__nav-more-2{
        display: block;
    }

    .header__nav-more-item{
        margin: 0 0 10px 0 !important;
    }


    .burger__accordeon-item--active .header__nav-item-text-more::before{
        transform: rotate(180deg);
    }

    .header__nav-item-text-more{
        padding: 0 !important;
    }

    .header__nav-item-text{
        padding: 0;
    }

    .header__nav-item-more{
        position: relative;
    }

    .header__nav-item-more::before{
        content: '';
        width: 16px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 12px;
        background: url(../svg/select-button.svg) no-repeat center;
        background-size: contain;
        transition: .3s all;
    }

    .header__nav-more-list-w{
        max-height: 0;
        overflow: hidden;
    }

    .burger__accordeon-item--active .header__nav-more-list-w{
        max-height: none;
    }

    .burger__accordeon-item--active.header__nav-item-more::before{
        transform: rotate(180deg);
    }

    .paid__prices-card-top{
        flex-direction: column;
        align-items: flex-start;
    }

    .prices__card-cards{
        grid-template-columns: repeat(1,1fr);
    }

    .paid__prices-card-title-block{
        margin-bottom: 4px;
    }

    .paid__block-entry-wrapper{
        flex-direction: column;
        gap: 16px;
    }

    .card_hidden{
        display: none;
    }

    .show__more-btn{
        display: block;
    }

    .show .show__more-btn{
        display: none;
    }

    .show .hide__more-btn{
        display: block;
    }

    .show .card_hidden{
        display: block;
    }

    .footer__wrapper{
        padding: 16px;
    }

    .footer__title{
        margin-bottom: 12px;
    }

    .footer__info-about{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__info-about-grey{
        margin-right: 0;
    }

    .footer__info{
        max-width: 296px;
        margin-bottom: 32px;
    }

    .footer__links-card{
        flex-direction: column;
        margin-bottom: 32px !important;
    }

    .footer__links-card-title{
        margin-right: 0;
        margin-bottom: 12px;
    }

    .footer__links-block{
        flex-direction: column;
    }
}

@media screen and (max-width:450px){


}

@media screen and (max-width:360px) {

}

@media screen and (max-width:320px) {

}
