body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Prepare styles start */


.prepare {
    margin-bottom: 120px;
}

.prepare__top {
    margin-bottom: 32px;
}

.prepare__title {
    font-size: 42px;
    margin-bottom: 24px;
}


.prepare__searchform-block {
    width: 100%;
    position: relative;
}

.prepare__searchform {
    width: 100%;
    padding: 8px 16px 8px 46px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: .3s all;
    color: #000C2B;
}

.prepare__searchform::placeholder {
    color: #607988;
}

.prepare__searchform:hover,
.prepare__searchform:focus,
.prepare__searchform:active {
    border-color: #00588D;
}

.prepare__searchform-btn {
    position: absolute;
    top: 8px;
    left: 12px;

    cursor: pointer;
}

.prepare__accordeon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prepare__accordeon-item {
    padding: 20px 60px 20px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
}

.prepare__accordeon-item-title {
    font-size: 22px;
    cursor: pointer;
    padding: 20px 60px 20px 32px;
    margin: -20px -60px -20px -32px;
}

.prepare__accordeon-item-title::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 24px;
    background: url(../svg/select-button.svg) no-repeat center center;
    transition: .3s all;
}

.prepare__accordeon-desc-hidden {
    max-height: 0;
    overflow: hidden;
}

.prepare__accordeon-desc-hidden h3 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 2px;
    margin-top: 12px;
}

.prepare__accordeon-desc-hidden p + p{
    margin-top: 4px;
}

.prepare__accordeon-desc-hidden h3:first-child {
    margin-top: 0px;
}


.prepare__accordeon-item--active .prepare__accordeon-desc-hidden {
    max-height: none;
    margin-top: 8px;
}

.prepare__accordeon-item--active.prepare__accordeon-item {
    padding-bottom: 24px;
}

.prepare__accordeon-item--active .prepare__accordeon-item-title::after {
    transform: rotate(180deg);
}


/* Prepare styles end */


/* Media styles */

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .prepare {
        margin-bottom: 80px;
    }

    .prepare__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .prepare__top {
        margin-bottom: 24px;
    }

    .prepare__accordeon-item {
        padding: 12px 48px 16px 16px;
    }

    .prepare__accordeon-item-title {
        font-size: 20px;
        padding: 12px 48px 16px 16px;
        margin: -12px -48px -16px -16px;
    }

    .prepare__accordeon-item-title::after {
        top: 14px;
        right: 12px;
    }

    .prepare__accordeon-item--active.prepare__accordeon-item {
        padding-bottom: 16px;
    }
}



@media screen and (max-width:370px) {
    .prepare__accordeon-item-title {
        font-size: 16px;
    }
}
