body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
    line-height: 120%;
}

.title{
    font-size: 42px;
    line-height: 120%;
}

.desc{
    font-size: 16px;
    line-height: 145%;
    color: #000C2B;
}

/* School styles start */

.school {
    margin-bottom: 120px;
}

.school__title {
    font-size: 42px;
    margin-bottom: 32px;
}

.school__cards {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    position: relative;
}

.school__card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px 32px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    width: calc(100% - 316px);
}

.school__block {
    display: flex;
    flex-direction: column;
 
    gap: 12px;
}

.school__block-1 .school__block-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.school__block-title {
    font-size: 30px;
}

.school__block-text {
}

.school__schedule p{
    color: #3C5C70;
}

.school__schedule-title {
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 4px;
}

.school__schedule-cab {
    font-family: 'Inter';
    font-weight: 500;
    margin-bottom: 2px;
}

.school__phone p{
    color: #3C5C70;
}

.school__phone-link:hover{
    opacity: .7;
}

.school__phone-link {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    transition: .3s all;
    color: #000C2B;
}

.school__side {
    width: 300px;
    position: sticky;
    top: 15px;
    padding: 20px 24px;
    border-radius: 24px;
    background: #FFFFFF;
}
.school__side-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.school__side-link {
    text-decoration: none;
    color: #3C5C70;
    transition: .3s all;
}

.school__side-link:hover, .school__side-link:focus, .school__side-link:active{
    color: #000C2B;
}

/* School styles end */

/* Media styles */ 


@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 0 16px;
    }

    .school__cards{
        gap: 12px;
    }

    .school__card{
        width: calc(100% - 312px);
    }

}

@media screen and (max-width: 978px) {

    .title{
        font-size: 32px;
        line-height: 120%;
    }

    .school{
        margin-bottom: 80px;
    }

    .school__title{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .school__card{
        width: 100%;
        max-width: none;
        padding: 16px;
        gap: 40px;
    }

    .school__side{
        display: none;
    }

    .school__block-title{
        font-size: 28px;
    }

}