body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Structure styles start */


.structure {
    margin-bottom: 120px;
}


.structure__title {
    margin-bottom: 24px;
}


.structure__searchform-block {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.structure__searchform-block span {
    position: absolute;
    top: 8px;
    left: 12px;
    cursor: pointer;
}

.structure__searchform {
    width: 100%;
    padding: 8px 16px 8px 46px;
    border-radius: 8px;
    border: none;
}

.structure__searchform::placeholder{
    color: #607988;
}


.structure__accordeon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.structure__accordeon-item {
    padding: 20px 60px 20px 32px;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;
}

.accordeon__item-title {
    font-size: 22px;
    line-height: 135%;
    padding: 20px 60px 20px 32px;
    margin: -20px -60px -20px -32px;
    cursor: pointer;
}

.accordeon__item-title span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: inline-block;
}

.accordeon__item-title::after {
    content: '';
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: url(../svg/select-button.svg) no-repeat center center;
    transition: .3s all;
}

.accordeon__item-hidden {
    max-height: 0;
    overflow: hidden;
    transition: .3s all;
}

.structure__item-pic {
    margin-bottom: 16px;
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}

.accordeon__item-text {
    transition: .3s all;
}

.accordeon__item-text ul {
    padding-left: 25px;
    list-style: disc;
}

.phone {
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
    display: inline-block;
}

.phone:hover {
    opacity: .7;
}

.accordeon__item--active .accordeon__item-title::after {
    transform: rotate(180deg);
}

.accordeon__item--active .accordeon__item-hidden {
    max-height: none;
    margin-top: 16px;
}

.accordeon__item--active.structure__accordeon-item {
    padding-bottom: 24px;
}


/* Structure styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .structure{
        margin-bottom: 80px;
    }

    .structure__title{
        margin-bottom: 20px;
    }

    .structure__searchform-block{
        margin-bottom: 24px;
    }

    .structure__accordeon-item {
        padding: 12px 48px 16px 16px;
    }

    .accordeon__item-title {
        font-size: 20px;
        padding: 12px 48px 16px 16px;
        margin: -12px -48px -16px -16px;
    }

    .accordeon__item-title::after {
        top: 14px;
        right: 12px;
    }

    .accordeon__item--active.structure__accordeon-item {
        padding-bottom: 16px;
    }
}
