.prepare {
    h2,
    .h2 {
        margin: 0;
        +.form {
            margin-top: 24px;
        }
    }
    .form +.accordeon-list {
        margin-top: 32px;
    }

}

@media screen and (max-width: 760px) {
    .prepare {
        h2, .h2{

            +.form {
                margin-top: 20px;
            }
        }

        .form+.accordeon-list {
            margin-top: 24px;
        }
    }   
}