.single-news {
    &-card {
        h3, .h3 {
            +.single-news-card-content {
                margin-top: 32px;
            }
        }
        &-content {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            .pic-block {
                max-width: 300px;
                width: 100%;
            }
            .text {
                width: calc(100% - 324px);
            }   

        }
    }
}

@media screen and (max-width: 990px) {
    .single-news{
        &-card-content{
            flex-direction: column;
            .pic-block {
                max-width: none;
            }
            .text {
                width: 100%;
            }
        }
    }
}
