body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Faq styles start */

.faq {
    margin-bottom: 120px;
}

.faq__top {
    margin-bottom: 32px;
}

.faq__title-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}

.faq__title {
    font-size: 42px;
    line-height: 120%;
}

.faq__link {
    display: inline-block;
    text-decoration: none;
    color: #00588D;
    padding-right: 30px;
    background: url(../svg/arrow-right.svg) no-repeat right center;
    transition: .3s all;
}

.faq__link:hover {
    opacity: .7;
}

.faq__searchform-block {
    width: 100%;
    position: relative;
}

.faq__searchform {
    width: 100%;
    padding: 8px 16px 8px 46px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: .3s all;
    color: #000C2B;
}

.faq__searchform::placeholder {
    color: #607988;
}

.faq__searchform:hover,
.faq__searchform:focus,
.faq__searchform:active {
    border-color: #00588D;
}

.faq__searchform-btn {
    position: absolute;
    top: 8px;
    left: 12px;
    cursor: pointer;
}

.faq__accordeon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq__accordeon-item {
    padding: 20px 60px 20px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
}

.faq__accordeon-item-title {
    font-size: 22px;
    line-height: 135%;
    cursor: pointer;
}

.faq__accordeon-item-title::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: url(../svg/select-button.svg) no-repeat center center;
    transition: .3s all;
}


.faq__accordeon-item-desc {
    max-height: 0;
    overflow: hidden;
    transition: .3s all;
    margin-top: 8px;
}

.faq__accordeon-item--active .faq__accordeon-item-desc {
    max-height: none;
}

.faq__accordeon-item--active.faq__accordeon-item {
    padding-bottom: 24px;
}

.faq__accordeon-item--active .faq__accordeon-item-title::after {
    transform: rotate(180deg);
}

/* Faq styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }


    .faq {
        margin-bottom: 80px;
    }

    .faq__title {
        font-size: 32px;
    }

    .faq__title-block {
        margin-bottom: 20px;
    }

    .faq__top {
        margin-bottom: 24px;
    }

    .faq__accordeon-item {
        padding: 12px 48px 16px 16px;
    }

    .faq__accordeon-item-title {
        font-size: 20px;
    }

    .faq__accordeon-item-title::after {
        top: 14px;
        right: 12px;
    }

    .faq__accordeon-item--active.faq__accordeon-item {
        padding-bottom: 16px;
    }
}

@media screen and (max-width:660px) {
    .faq__title-block {
        flex-direction: column;
        gap: 6px;
    }

}