/* Footer styles start */

.footer {
    border-radius: 24px 24px 0 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    width: calc(100% -48px);
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 24px 24px 0 0;
}

.footer__info {
    max-width: 261px;
}

.footer__title {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 12px;
    color: #000C2B;
}

.footer__info-about {}

.footer__info-about-grey {
    margin-bottom: 12px;
}

.footer__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 4px;
    color: #3C5C70;
}

.footer__phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    text-decoration: none;
    transition: .3s all;
}

.footer__info-about-links {
    margin-bottom: 20px;
}

.footer__info-link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #00588D;
    text-decoration: none;
    padding-right: 38px;
    background: url(../svg/arrow-right.svg) no-repeat 95% center;
    transition: .3s all;
}

.footer__info-link:first-child {
    margin-bottom: 12px;
}

.footer__link-vk {
    text-decoration: none;
}

.footer__links-wrapper {}

.footer__links-cards {}

.footer__links-card {
    display: flex;
}

.footer__links-card:first-child {
    margin-bottom: 40px;
}

.footer__links-card-title {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    margin-right: 32px;
    width: 140px;
    max-height: 25px;
    transition: .3s all;
}

.footer__links-card-title:hover {
    opacity: .7;
}

.footer__links-block {
    display: flex;
}

.footer__links-list {}

.footer__links-list:first-child {
    margin-right: 64px;
}



.footer__links-item {}

.footer__links-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .3s all;
}

.footer__links-link:hover,
.footer__phone:hover {
    color: #00588D;
}

.footer__info-link:hover {
    background-position-x: 99%;
}

.footer__links-link:last-child {
    margin-bottom: 0;
}

.footer__copy {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3C5C70;
}


/* Footer styles end */

/* Media styles */

@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__links-card:last-child {
        margin-bottom: 48px;
    }


    .footer__info {
        max-width: none;
        margin-bottom: 20px;
    }

    .footer__title {
        margin-bottom: 16px;
    }

    .footer__info-about {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }

    .footer__info-about-grey {
        margin-right: 120px;
    }

    .footer__info-about-links {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__copy {
        position: static;
    }
}

@media screen and (max-width: 978px) {
    .footer {
        padding: 0;
        background: none;
        width: 100%;
    }

    .footer__wrapper {
        padding: 24px 24px 16px 24px;
        background: #FFFFFF;
    }

}

@media screen and (max-width:660px) {
    .footer__wrapper {
        padding: 16px;
    }

    .footer__title {
        margin-bottom: 12px;
    }

    .footer__info-about {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__info-about-grey {
        margin-right: 0;
    }

    .footer__info {
        max-width: 296px;
        margin-bottom: 32px;
    }

    .footer__links-card {
        flex-direction: column;
        margin-bottom: 32px !important;
    }

    .footer__links-card-title {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .footer__links-block {
        flex-direction: column;
    }
}
