body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Info styles start */


.info {
    margin-bottom: 120px;
}

.info__title {
    margin-bottom: 32px;
}

.info__card {
    padding: 24px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-radius: 24px;
    background: #FFFFFF;
}

.info__card-pic {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -24px;
}

.info__address {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info__address-block {}

.info__address-block-title {
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 4px;
}

.info__address-block-title_fillial {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.info__phone {
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.info__phone:hover {
    opacity: .7;
}

.info-email {
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.info-email:hover {
    opacity: .7;
}


.info__details {
    margin-top: -24px;
}

.info__details-title {
    font-size: 22px;
    line-height: 135%;
    margin-bottom: 4px;
}

.info__doctor {}

.info__doctor .info__block-title {
    margin-bottom: 20px;
}

.info__block-title {
    font-size: 30px;
    line-height: 120%;
}

.info__doctor-message {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.info__doctor-message-pic-block {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
}

.info__doctor-message-pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info__doctor-message-text {
    width: calc(100% - 104px);
}

.info__docs .info__block-title {
    margin-bottom: 12px;
}

.info__docs-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.info__docs-link {
    text-decoration: none;
    color: #00588D;
    padding-left: 30px;
    background: url(../svg/file.svg) no-repeat left center;
    transition: .3s all;
}

.info__docs-link:hover {
    opacity: .7;
}

.info__control .info__block-title {
    margin-bottom: 16px;
}

.info__control-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.info__control-card {}

.info__control-card-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 4px;
}

.info__control-phone {}

.info__control-mail {}

.info__control-phone,
.info__control-mail {
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.info__control-phone:hover,
.info__control-mail:hover {
    opacity: .7;
}



/* Info styles end */

/* Media styles */

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .info {
        margin-bottom: 80px;
    }

    .info__title {
        margin-bottom: 24px;
    }

    .info__card {
        padding: 16px;
        gap: 40px;
    }

    .info__card-pic {
        margin-bottom: -20px;
    }

    .info__doctor-message-pic-block {
        width: 65px;
        height: 65px;
    }

    .info__doctor-message-text {
        width: calc(100% - 81px);
    }

    .info__details {
        margin-top: -20px;
    }

    .info__block-title {
        font-size: 28px;
    }

}


@media screen and (max-width:660px) {

    .info__doctor-message {
        flex-wrap: wrap;
    }

    .info__doctor-message-text {
        width: 100%;
    }
}