body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Schedule styles start */

.schedule {
    margin-bottom: 120px;
}

.schedule__link-back {
    display: inline-block;
    color: #3C5C70;
    text-decoration: none;
    padding-left: 30px;
    background: url(../svg/arrow-left-gray.svg) no-repeat left center;
    margin-bottom: 24px;
    transition: .3s all;
}

.schedule__link-back:hover {
    opacity: .7;
}

.schedule__card {
    padding: 24px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
}

.schedule__card-top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.schedule__card-pic-block {
    max-width: 88px;
    max-height: 88px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.schedule__card-pic {
    width: 100%;
}

.schedule__card-top-text {
    width: calc(100% - 104px);
}

.schedule__card-top-text p {
    color: #3C5C70;
}

.schedule__card-title {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 4px;

}

.schedule__card-desc {
    margin-bottom: 32px;
}

.schedule__phone {
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
    display: inline-block;
}

.schedule__phone:hover {
    opacity: .7;
}

.schedule__search-block {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.schedule__searchform-input {
    width: 100%;
    padding: 8px 16px 9px 46px;
    border: 1px solid #E0E4E7;
    border-radius: 8px;
}

.schedule__searchform-input::placeholder {
    color: #607988;
}

.schedule__search-btn {
    position: absolute;
    left: 12px;
    top: 6px;
    cursor: pointer;
}

.schedule__blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.schedule__block {}

.schedule__block-title-block {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.schedule__block-pic-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.schedule__block-pic {
    width: 100%;
    object-fit: cover;
}

.schedule__block-title {
    font-size: 22px;
    line-height: 135%;
}

.schedule__block-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule__block-card {}

.schedule__block-card-title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 4px;
    text-decoration: none;
    color: #000C2B;
    transition: .3s all;
}

.schedule__block-card-title:hover {
    opacity: .7;
}

.schedule__block-card p {
    margin-bottom: 2px;
    font-weight: 500;
}

.schedule__block-card-list {
    color: #3C5C70;
}

.schedule__block-card-list ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* Schedule styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .schedule__card {
        padding: 16px 16px 24px;
    }

    .schedule__block-card-list ul {
        gap: 16px;
    }

    .schedule__card-title {
        font-size: 28px;
    }

}

@media screen and (max-width:700px) {
    .schedule__card {
        padding: 16px;
    }

    .schedule__block-card-list ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}



@media screen and (max-width:660px) {

    .schedule__card-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .schedule__card-pic-block {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .schedule__card-top-text {
        width: 100%;
    }

    .schedule__block-title {
        font-size: 20px;
    }
}