body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}


/* Projects styles start */ 

.projects {
    margin-bottom: 120px;
}

.projects__title {
    margin-bottom: 32px;
}

.projects__accordeon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accordeon__item {
    padding: 20px 60px 20px 32px;
    position: relative;
    border-radius: 24px;
    background: #FFFFFF;
    overflow: hidden;
}

.accordeon__item a{
    text-decoration: none;
    color: #00588D;
    padding-left: 30px;
    background: url(../svg/file.svg) no-repeat left center;
    display: inline-block;
    margin-bottom: 24px;
    transition: .3s all;
}

.accordeon__item a:hover{
    opacity: .7;
}

.accordeon__item-title {
    padding: 20px 60px 20px 32px;
    margin: -20px -60px -20px -32px;
    cursor: pointer;
}

.accordeon__item-title::after{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: url(../svg/select-button.svg) no-repeat center center;
    transition: .3s all;
}

.accordeon__item-hidden h3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 24px;
}

.accordeon__item-hidden {
    max-height: 0;
    overflow: hidden;
}

.accordeon__item-hidden p{
    margin-bottom: 8px;
}

.accordeon__item-hidden-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.accordeon__item-hidden-block-wrapper:first-of-type{
    margin-bottom: 24px;
}

.accordeon__item-hidden-block {
}

.accordeon__item--active .accordeon__item-hidden{
    max-height: none;
    margin-top: 16px;
}

.accordeon__item--active .accordeon__item-title::after {
    transform: rotate(180deg);
}

.accordeon__item--active.accordeon__item{
    padding-bottom: 24px;
}


.accordeon__item_documents {

}

.accordeon__item_documents-link:last-child{
    margin-bottom: 0;
}

.accordeon__item_documents-link {
    background: url(../svg/file.svg) no-repeat left top !important;
}


/* Project styles end */ 


/* Media styles */

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .projects{
        margin-bottom: 80px;
    }

    .projects__title{
        margin-bottom: 24px;
    }

    .accordeon__item {
        padding: 12px 48px 16px 16px;
    }

    .accordeon__item-title {
        padding: 12px 48px 16px 16px;
        margin: -12px -48px -16px -16px;
        font-size: 20px;
    }

    .accordeon__item-title::after{
        top: 14px;
        right: 12px;
    }

    .accordeon__item--active.accordeon__item {
        padding-bottom: 16px;
    }

}
