body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}


/* Purchase styles start */ 

.purchase {
    margin-bottom: 120px;
}

.purchase__title {
    margin-bottom: 32px;
}

.purchase__card {
    padding: 24px 32px 32px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
}

.purchase__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.purchase__block h2{
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 120%;
}

.purchase__block-link{
    text-decoration: none;
    color: #000C2B;
    display: inline-block;
    transition: .3s all;
}

.purchase__block-link:hover{
    opacity: .7;

}

.purchase__block_links {

}

.purchase__block_links-link{
    margin-bottom: 12px;
    padding-left: 30px;
    background: url(../svg/file.svg) no-repeat left top;
    text-decoration: none;
    color: #00588D;
    display: inline-block;
    transition: .3s all;
}

.purchase__block_links-link:hover{
    opacity: .7;

}

.purchase__block_links-link:last-child{
    margin-bottom: 0;
}

/* Purchase styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }



    .purchase{
        margin-bottom: 80px;
    }

    .purchase__title{
        margin-bottom: 24px;
    }

    .purchase__card{
        padding: 16px;
        gap: 40px;
    }
}

@media screen and (max-width:770px) {
    .purchase__block h2{
        font-size: 26px;
    }
}
