body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title{
    font-size: 42px;
    line-height: 120%;
}

/*Schedule styles start */

.schedule{
    margin-bottom: 120px;
}

.schedule__title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 12px;
    color: #000C2B;
}

.schedule__desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 32px;
    color: #3C5C70;
}

.schedule__form-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.schedule__dropdown-wrapper{
    display: flex;
    align-items: center;
    width: 200%;
    gap: 16px;
}

.schedule__btns{
    width: 40px;
    height: 40px;
    display: none;
}

.schedule__dropdown-btn-open{
    padding: 8px;
    border-radius: 8px;
    background: #FFFFFF;
    cursor: pointer;
    transition: .3s all;
    position: relative;
    display: none;
}

.schedule__dropdown-btn-close{
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.schedule__dropdown-btn-close::before, .schedule__dropdown-btn-close::after{
    content: "";
    width: 24px;
    height: 2px;
    position: absolute;
    top: 50%;
    background: #607988;
    display: block;
    cursor: pointer;
}

.schedule__dropdown-btn-close::after{
    transform: rotate(45deg);
}

.schedule__dropdown-btn-close::before{
    transform: rotate(-45deg);
}


.schedule__dropdown-btn:hover{
    background: #F7FBFF;
}


.schedule-form-group {
    width: 100%;
}

.schedule-dropdown {
	position: relative;
}

.schedule-dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	background: #FFFFFF;
    color: #3C5C70;
	padding: 8px 42px 8px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    border: none;
}

.schedule-dropdown__button:hover, .schedule-dropdown__button:focus, .schedule-dropdown__button:active{
    background: #F7FBFF;
}

.schedule-dropdown__button::after {
    content: '';
    width: 16px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 12px;
    background: url(../svg/select-button.svg) no-repeat center;
    background-size: contain;
    transition: .3s all;
}

.schedule-dropdown__button--active.schedule-dropdown__button::after{
    transform: rotate(180deg);
}


.schedule-dropdown__list {
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	list-style-type: none;
	background: #FFFFFF;
	overflow: hidden;
	border-radius: 8px;
	width: 100%;
	z-index: 2;
}

.schedule-dropdown__list--visible {
	display: block;
}

.schedule-dropdown__list-item {
	padding: 8px 42px 8px 16px;
	cursor: pointer;
    color: #3C5C70;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    border-bottom: 1px solid #dedede;
}

.schedule-dropdown__list-item:first-child {
	border-radius: 8px 8px 0 0;
}

.schedule-dropdown__list-item:last-child {
	border-radius: 0 0 8px 8px;
    border-bottom: 0;
}

.schedule-dropdown__list-item:hover {
	background: #F7FBFF;
}

.schedule-dropdown__input-hidden {
	display: none;
}

.schedule__searchform{
    width: 100%;
    align-self: stretch;
    position: relative;
}

.schedule__searchform-form{
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    padding: 8px 16px 8px 44px;
    height: 100%;
    color: #3C5C70;
}

.schedule__searchform-form, .schedule__searchform::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}

.schedule__searchform::placeholder{
    color: #607988;
}

.schedule__searchform-button{
    position: absolute;
    top: 7px;
    left: 12px;
    cursor: pointer;
}

.schedule__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
.schedule__card {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    border-radius: 16px;
    background: #FFFFFF;
    text-decoration: none;
    transition: .3s all;
}

.schedule__card:hover{
    background: #F7FBFF;
}

.schedule__card-pic {
    margin-right: 12px;
    border-radius: 50%;
}
.schedule__card-text {

}

.schedule__card-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000C2B;
    margin-bottom: 4px;
}

.schedule__card-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3C5C70;
}


/* Schedule styles end */


/* Media styles */ 


@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title{
        font-size: 32px;
        line-height: 120%;
    }

    .schedule{
        margin-bottom: 80px;
    }

    .schedule__title{
        margin-bottom: 8px;
        font-size: 32px;
    }

    .schedule__desc{
        margin-bottom: 24px;
    }

    .schedule__form-wrapper{
        flex-direction: row-reverse;
        gap: 8px;
        position: relative;
        margin-bottom: 24px;
    }

    .schedule__dropdown--active .schedule__dropdown-btn-open{
        display: none;
    }

    .schedule__dropdown--active .schedule__dropdown-btn-close{
        display: block;
    }

    .schedule__dropdown--active .schedule__dropdown-wrapper{
        display: flex;
    }

    .schedule__dropdown-wrapper{
        display: none;
        position: absolute;
        flex-wrap: wrap;
        top: 50px;
        right: 0;
        width: 100%;
        max-width: 400px;
        padding: 16px;
        border-radius: 16px;
        transition: .3s all;
        background: #FFFFFF;
    }

    .schedule__btns{
        display: block;
    }


    .schedule__dropdown-btn-open{
        display: block;
    }

    .schedule__cards{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

}


@media screen and (max-width:362px) {

    .schedule__dropdown-wrapper{
        padding: 8px;
    }

    .schedule-dropdown__list-item {
        padding: 8px 8px 8px 16px;
    }

    .schedule__dropdown-wrapper .schedule-form-group:last-child .schedule-dropdown__list{
        top: 60px;
    }
}
