body {
    background: #F6F0ED;
    font-family: 'Inter', sans-serif;
    color: #000C2B;
}

.wrapper {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    color: #000C2B;
    font-weight: 700;
}

.title {
    font-size: 42px;
    line-height: 120%;
}

.desc {
    font-size: 16px;
    line-height: 145%;
}

/* Vacancy styles start */

.vacancy {
    margin-bottom: 120px;
}


.vacancy___title {
    margin-bottom: 24px;
}


.vacancy__searchform-block {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.vacancy__searchform-block span {
    position: absolute;
    top: 8px;
    left: 12px;
    cursor: pointer;
}

.vacancy__searchform {
    width: 100%;
    padding: 8px 16px 8px 46px;
    border-radius: 8px;
    border: none;
}

.vacancy__searchform::placeholder {
    color: #607988;
}


.vacancy__cards {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.vacancy__accordeon {
    width: calc(100% - 316px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accordeon__item {
    padding: 16px 24px 16px 32px;
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
}

.accordeon__item-title-block {
    padding: 16px 24px 16px 32px;
    margin: -16px -24px -16px -32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordeon__item-title-block::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: url(../svg/select-button.svg) no-repeat center center;
    transition: .3s all;
}

.accordeon__item-img-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.accordeon__item-img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordeon__item-title {
    font-size: 22px;
    line-height: 135%;
    width: calc(100% - 48px);
}

.accordeon__item-hidden {
    max-height: 0;
    overflow: hidden;
    transition: .3s all;
}

.accordeon__item-hidden h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 4px;
}

.accordeon__item-hidden span{
    display: block;
    height: 8px;
}

.accordeon__item-hidden p + h3 {
    margin-top: 16px;
}


.accordeon__item-hidden ul {
    padding-left: 25px;
    list-style-type: disc;
}

.accordeon__item--active .accordeon__item-hidden {
    max-height: none;
    margin-top: 16px;
}

.accordeon__item--active .accordeon__item-title-block::after {
    transform: rotate(180deg);
}

.accordeon__item--active .accordeon__item {
    padding-bottom: 24px;
}

.vacancy__side {
    position: sticky;
    top: 15px;
    width: 300px;
    padding: 20px 24px;
    border-radius: 24px;
    background: #FFFFFF;
    color: #3C5C70;
}


.phone,
.mail {
    text-decoration: none;
    color: #3C5C70;
    transition: .3s all;
    display: inline-block;
}

.phone:hover,
.mail:hover {
    color: #000C2B;
}

/* Vacancy styles end */


/* Media styles */


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 978px) {

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .vacancy {
        margin-bottom: 80px;
    }

    .vacancy__title {
        margin-bottom: 20px;
    }

    .vacancy__searchform-block {
        margin-bottom: 24px;
    }

    .vacancy__cards {
        flex-direction: column-reverse;
    }

    .vacancy__accordeon {
        width: 100%;
    }

    .vacancy__searchform-block {
        margin-bottom: 24px;
    }

    .accordeon__item {
        padding: 12px 48px 16px 16px;
    }

    .accordeon__item-title-block {
        padding: 12px 48px 16px 16px;
        margin: -12px -48px -16px -16px;
    }

    .accordeon__item-title {
        font-size: 20px;
    }


    .accordeon__item--active.vacancy__accordeon-item {
        padding-bottom: 16px;
    }

    .vacancy__side {
        position: static;
        width: 100%;
        padding: 16px;
    }
}


@media screen and (max-width:450px) {
    .accordeon__item-title-block::after {
        top: 14px;
        right: 12px;
    }
}