.header {
    padding: 12px 0;

    .wrapper {}

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;
        line-height: 135%;

        img {
            width: 48px;
            height: 48px;
        }
    }

    &__right {
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 8px;
            margin-bottom: 5px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 12px);
                height: 1px;
                background-color: #E0E4E7;
            }

            .links {}

            .link_blue {
                +.link_blue {
                    margin-left: 8px;
                }
            }

            .phone {
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;

                &:hover {
                    opacity: .7;
                }

            }

            .burger {
                display: none;
                position: relative;
                z-index: 100;
                width: 24px;
                height: 24px;
                padding: 2px;
                cursor: pointer;

                &::before,
                &::after,
                span {
                    width: 20px;
                    height: 2px;
                    background: #607988;
                    position: absolute;
                    left: 0;
                    transition: .3s all;
                }

                span {
                    top: 54%;
                    transform: translateY(-50%);
                }

                &::before,
                &::after {
                    content: '';
                }

                &::before {
                    top: 4px;
                }

                &::after {
                    bottom: 2px;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            gap: 109px;
            position: relative;
        }

        .nav {}

        .header__nav-link {
            padding: 4px 16px;
            border-radius: 16px;
            font-weight: 500;

            &:hover {
                background: #FFFFFF;
            }

            &_callback {
                cursor: pointer;
                padding-right: 0;

                &-trigger {
                    position: relative;
                    padding-right: 34px;

                    &::after {
                        content: '';
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 4px;
                        right: 12px;
                        background: url(../img/svg/select-arrow.svg) no-repeat center center;
                        transition: .3s all;
                    }
                }
            }

            &_callback.active {
                background: #FFF;

                .header__nav-link_callback-trigger::after {
                    transform: rotate(180deg);
                }
            }

            &_hidden {
                display: none;
            }
        }

        .right {
            .buttons {
                display: flex;
                align-items: center;
                gap: 32px;
            }

            .header__button-search {}

            .header__button-view {}

            .phone_hidden {
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                display: none;
            }

            .logo_hidden {
                display: none;
                align-items: center;
                gap: 8px;
                font-family: 'Manrope';
                font-size: 14px;
                font-weight: 600;
                line-height: 135%;
            }
        }
    }

    &__right.burger--active {
        .burger {
            right: -4px;

            &::before {
                transform: rotate(45deg);
                top: 50%;
            }

            &::after {
                transform: rotate(-45deg);
                top: 50%;
            }

            span {
                transform: scale(0);
            }
        }

        .bottom {
            transform: translateX(0);
            overflow: auto;
        }
    }

    &__link-modal {
        position: absolute;
        width: 100%;
        top: 79px;
        padding: 16px 24px;
        border-radius: 16px;
        background: #FFFFFF;
        gap: 48px;
        box-shadow: 0px 8px 24px -243px rgba(173, 148, 136, 0.30);
        display: none;
        justify-content: space-between;

        .block {}
    }

    &__link-modal.active {
        display: flex;
    }

    &-searchform {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: .3s all;

        .form-input-search {
            padding: 8px 46px 9px 46px;
            width: 100%;
            border-radius: 8px;
            border: 0;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            transition: .3s all;
            &::placeholder {
                color: #607988;
            }

            &-button {
                position: absolute;
                bottom: 8px;
                left: 12px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .form-input-search-button-back{
            display: none;
            transition: .3s all;
            &:hover {
                transform: scale(1.1);
            }
        }
        .form-input-search-button-clear{
            display: none;
            transition: .3s all;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &-searchform.active {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        overflow: visible;
    }

    .form-results {
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        height: 400px;
        padding: 16px 24px;
        border-radius: 8px;
        background: #FFF;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: .3s all;
        .error {
            width: 100%;
            height: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #3c5c70;
            transition: .3s all;

            img {
                width: 120px;
                height: 120px;

                +p {
                    margin-top: 12px;
                }
            }
        }

        .result {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            transition: .3s all;

            .block {
                width: 100%;
                +.block {
                    margin-top: 24px;
                }

                +.link_arrow {
                    margin-top: 24px;
                }

                .h4 {
                    margin-bottom: 10px;
                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 150%;
                        color: #3c5c70;
                    }
                }

                &_schedule {
                    .cards {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .card {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            background: 0;
                            padding: 6px;
                            margin: -6px;
                            width: 100%;
                            border-radius: 16px;
                            &:hover {
                                background: #F7FBFF;
                            }
                            .pic-block {
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            .about{
                                width: calc(100% - 76px);
                            }
                            .name {
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 150%;
                                +p{
                                    color: #3c5c70;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
                &_paid{
                    .cards {
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        gap: 16px;
                    }
                    .card {
                        padding: 6px 8px;
                        border-radius: 16px;
                        &:hover{
                            background: #F7FBFF;
                        }
                    }
                    .name {
                        font-weight: 500;
                        +.count{
                            margin-top: 4px;
                        }
                    }
                    p{
                        color: #3c5c70;
                    }
                    p+.count{
                        margin-top: 4px;
                    }
                }
                &_vac, &_faq, &_news{
                    .link {
                        padding: 6px 12px;
                        margin-left: -12px;
                        margin-right: -12px;
                        border-radius: 8px;
                        width: 100%;
                        &-title{
                            transition: .3s all;
                            font-weight: 600;
                            +.link-desc{
                                margin-top: 2px;
                            }
                        }
                        &-desc{
                            transition: .3s all;
                            color: #3c5c70;
                        }
                        &:hover{
                            background: #F7FBFF;
                            .link-title{
                                color: #005081;
                            }
                            .link-desc{
                                color: #000C2B;
                            }
                        }
                    }
                }
            }
        }
        .link_arrow {
            align-self: flex-end;
        }
    }
    .form-results.active {
        visibility: visible;
        overflow: scroll;
        opacity: 1;
        z-index: 50;
    }
    .form-results.--error{

        .result{
            display: none;
        }
        .error{
            display: flex;
        }
    }
    .form-results.--result{
        .result{
            display: flex;
        }
        .error{
            display: none;
        }
    }
}

@media screen and (max-width:1025px) {
    .header {
        &__right {
            .bottom {
                gap: 13px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .header {
        padding-top: 6px;

        &__wrapper {
            position: static;
        }

        &__right {
            width: calc(100% - 350px);

            .top {
                padding: 0;
                margin: 0;

                &::after {
                    display: none;
                }

                .phone {
                    display: none;
                }

                .burger {
                    display: block;
                    margin-top: 6px;
                }

            }

            .bottom {
                position: absolute;
                z-index: 50;
                top: 0;
                right: 0;
                width: calc(100% - 24px);
                height: 100%;
                padding: 102px 24px 46px 20px;
                border-top-left-radius: 16px;
                background: #fff;
                transition: .3s all;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                overflow: hidden;
                transform: translateX(100%);

                .nav {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    order: 2;

                    .header__nav-link {
                        padding: 0;
                        font-size: 18px;
                        line-height: 150%;

                        &_callback-trigger {
                            padding: 0;

                            &::after {
                                display: none;
                            }
                        }

                        &_hidden {
                            margin-top: 12px;
                            display: flex;
                            font-size: 16px;
                            line-height: 145%;
                            gap: 64px;

                            &_1 {}

                            &_2 {}

                            .block {
                                li+li {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    order: 1;

                    .phone {
                        display: block;
                    }

                    .logo_hidden {
                        display: flex;
                        margin-bottom: 16px;
                        position: absolute;
                        top: 46px;

                        .pic-block {
                            width: 42px;
                            height: 42px;
                        }
                    }
                }
            }
        }

        &-searchform.--burger-searchform-active {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            overflow: visible;
            height: 100%;
            margin-top: 52px;
            background: #FFF;
            .form-input-search-button {
                top: 6px;
                bottom: auto;
            }
            .form-input-search-button-back{
                display: block;
                position: absolute;
                top: -32px;
                left: 12px;
            }
            .form-input-search-button-clear.active {
                display: block;
                position: absolute;
                right: 20px;
                top: 8px;
            }
        }
        .form-results.--burger-error-active{
            .result{
                display: none;
            }
            .error{
                display: flex;
            }
        }        
        .form-results.--burger-result-active{
            .result{
                display: flex;
            }
            .error{
                display: none;
            }
        }
        .form-results.active{
            height: calc(100% - 108px);
            top: 108px;
        }
    }
}

@media screen and (max-width: 760px) {
    .header {
        &__right {
            width: auto;

            .top {
                .links {
                    display: none;
                }
            }

            .bottom {
                width: calc(100% - 16px);

                .nav {
                    width: 100%;
                    gap: 0;

                    .header__nav-link {
                        width: 100%;
                        position: relative;
                        padding-bottom: 12px;

                        +.header__nav-link {
                            margin-top: 12px;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0px;
                            width: 100%;
                            height: 1px;
                            background: #E0E4E7;
                        }

                        &_callback {
                            &-trigger {
                                padding: 12px 0 12px 12px;
                                margin: -12px 0 -12px -12px;
                                width: 100%;

                                &::after {
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-50%);
                                    display: block;
                                }
                            }
                        }

                        &_callback.active {
                            background: transparent;

                            .header__nav-link_callback-trigger::after {
                                transform: translateY(-50%) rotate(180deg);
                            }

                            .header__nav-link_hidden {
                                margin-top: 16px;
                            }
                        }

                        &_hidden {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            max-height: 0;
                            overflow: hidden;
                            margin: 0;
                            transition: .3s max-height;
                        }
                    }
                }
            }


        }

        .form-results {
            .result {
                .block {
                    &_paid{
                        .cards {
                            display: grid;
                            grid-template-columns: repeat(2,1fr);
                            gap: 10px 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .header {
        .form-results {
            .result {
                .block {
                    &_paid{
                        .cards {
                            display: grid;
                            grid-template-columns: repeat(1,1fr);
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}