.main_doctors {
    .main_doctors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 12px;

        &-button {
            &_show, &_hide {
                display: none;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .main_doctors-item {
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: .3s all;
    }
}

@media screen and (max-width: 550px) {
    .main_doctors {
        .main_doctors-list {
            gap: 16px 12px;
            &-button {
                display: block;
            }
        }
        .main_doctors-item {
        }
    }
}