.main_news {
    &-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        margin-bottom: 24px;
    }

    &-card {
        border-radius: 24px;
        overflow: hidden;
        background: #fff;
        p {
            color: #3C5C70;
        }
        .date {
            margin-top: 16px;
            color: #3C5C70;
            font-size: 14px;
            line-height: 150%;
        }

        .pic-block {}

        &-pic{
            &_desctop {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            &_tablet {
                display: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &_mobile {
                display: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        &_1 {}

        &_big {
            grid-column: span 2;
            display: flex;
            .pic-block {
                width: 50%;
            }

            .text {
                width: 50%;
                padding: 24px;
            }
        }

        &_2 {}

        &_pic {
            display: flex;
            flex-direction: column;
            .text {
                padding: 16px 24px 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }

        &_3 {}

        &_text {
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 + p, .h4 + p {
                margin-top: 12px;
            }
        }
    }

}

@media screen and (max-width: 990px) {
    .main_news {
        &-cards {
            gap: 24px 12px;
        }
        &-card {
            h4, .h4 {
                font-size: 20px;
            }
            &-pic {
                &_desctop {
                    display: none;
                }
                &_tablet {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .main_news {
        &-cards {
            grid-template-columns: repeat(1,1fr);
            gap: 24px;
            +.btn {
                width: 100%;
            }
        }
        &-card {
            &_big {
                grid-column: auto;
                flex-direction: column;
                .text {
                    padding: 16px;
                }
                .text, .pic-block {
                    width: 100%;
                }
            }
            &_pic {
                .text {
                    padding: 16px;
                }
            }

            &_text {
                padding: 16px;
            }
            &-pic {
                &_tablet {
                    display: none;
                }
                &_mobile {
                    display: block;
                }
            }
        }
    }
}